<?xml version="1.0"?>
<model>
  <name>e-puck</name>
  <version>1.0</version>
  <sdf>urdf/epuck.sdf</sdf>
  <author>
    <name>Jerome Guzzi</name>
    <email>jerome@idsia.ch</email>
  </author>
  <description>
    The e-puck model with motorized wheels, odometry, proximity sensors, and imu.
  </description>
</model>
