<?xml version="1.0"?>
<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#xacro">

  <xacro:macro name="line_camera" params="tf_prefix=''">

    <link name="${tf_prefix}camera_link"/>
    <link name="${tf_prefix}camera_optical_link"/>

    <joint name="${tf_prefix}camera_frame_joint" type="fixed">
      <origin xyz="0.037 0 0.026"/>
      <parent link="${tf_prefix}base_link"/>
      <child link="${tf_prefix}camera_link"/>
    </joint>

    <joint name="${tf_prefix}camera_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
      <parent link="${tf_prefix}camera_link"/>
      <child link="${tf_prefix}camera_optical_link"/>
    </joint>

    <gazebo reference="${tf_prefix}camera_link">
      <sensor type="camera" name="line_camera">
        <update_rate>30.0</update_rate>
        <always_on>1</always_on>
        <camera name="line_camera">
          <horizontal_fov>${pi / 3}</horizontal_fov>
          <image>
            <width>60</width>
            <height>1</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>20</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <frame_name>${tf_prefix}camera_optical_link</frame_name>
          <hack_baseline>0.0</hack_baseline>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
