<launch>

  <arg name="axis_length" default="0.0935"/>
  <arg name="odom_max_rate" default="-1"/>
  <arg name="motor_calibration" default="$(find-pkg-share thymio_driver)/calibration/motor.yaml"/>
  <arg name="single" default="true"/>
  <arg name="tf_prefix" default=""/>
  <let name="driver" value="thymio_driver" if="$(var single)"/>
  <let name="driver" value="multi_thymio_driver" unless="$(var single)"/>

  <include file="$(find-pkg-share thymio_driver)/launch/asebaros.launch">
    <arg name="single" value="$(var single)"/>
  </include>

  <node name="driver" pkg="thymio_driver" exec="$(var driver)" output="screen" required="true" args="--ros-args --log-level info">
    <param name="axis_length" value="$(var axis_length)"/>
    <param name="odom_max_rate" value="$(var odom_max_rate)"/>
    <param from="$(var motor_calibration)"/>
    <param name="tf_prefix" value="$(var tf_prefix)"/>
    <param name="launch_model" value="thymio_description model.launch.py"/>
  </node>

</launch>
