<launch>

  <arg name="device"/>
  <arg name="port" default="44444"/>
  <arg name="motor_speed_deadband" default="10"/>
  <arg name="axis_length" default="0.0935"/>
  <arg name="odom_max_rate" default="-1"/>

  <node pkg="asebaros" exec="multi_asebaros" args="$(var device) -p 44444" output="screen" required="true">
    <param name="nodes">
      <param name="prefix" value="thymio"/>
      <param name="ANY" value="+"/>
    </param>
    <param name="log_level" value="info"/>
    <param name="script">
      <param name="path" value="$(find-pkg-share thymio_driver)/aseba/multi_thymio_ros.aesl"/>
      <param name="constants">
        <param name="EMIT_GROUND_RAW" value="0"/>
        <param name="EMIT_BUTTONS" value="1"/>
        <param name="EMIT_ACC" value="1"/>
        <param name="EMIT_MOTOR" value="1"/>
        <param name="EMIT_PROXIMITY" value="1"/>
        <param name="MOTOR_PERIOD" value="10"/>
        <param name="ENABLE_PROX_COMM" value="1"/>
      </param>
    </param>
  </node>

  <node pkg="thymio_driver" exec="multi_thymio_driver" output="screen" required="true">
    <param name="log_level" value="info"/>
    <param name="motor_speed_deadband" value="$(var motor_speed_deadband)"/>
    <param name="axis_length" value="$(var axis_length)"/>
    <param name="odom_max_rate" value="$(var odom_max_rate)"/>
  </node>
</launch>
