<?xml version="1.0"?>
<launch>
  <let name="ip" value="localhost"/>
  <let name="in_port" value="33330"/>
  <let name="device" value="tcp:host=$(var ip);port=$(var in_port)"/>
  <let name="asebaplayground" value="$(env ASEBA_DIR)/bin/asebaplayground"/>
  <let name="world" value="$(env ASEBA_DIR)/aseba/targets/playground/examples/thymioIRComm.playground"/>

  <executable cmd="$(var asebaplayground) $(var world)" name="asebaplayground" output="screen" shell="true"/>


  <include file="$(find-pkg-share thymio_driver)/launch/multi_thymio.launch">
    <arg name="device" value="$(var device)"/>
    <arg name="motor_calibration" value="$(find-pkg-share thymio_driver)/calibration/playground.yaml"/>
    <arg name="axis_length" value="0.094"/>
    <arg name="motor_period" value="10"/>
  </include>

<!-- TODO(J): Asebaswitch exits if it cannot connect at startup. I don't yet know how to wait for a process. Probably could be done in the ros2launch python -->
<!-- TODO(J): I also don't know how to put quotes :-) -->

  <!-- <executable cmd='sleep 5; echo $(var asebaswitch) \"tcp:host=localhost\;port=33333\;remapLocal=1\" -p $(var port); $(var asebaswitch) \"tcp:host=localhost\;port=33333\;remapLocal=1\" \"tcp:host=localhost\;port=33334\;remapLocal=2\" \"tcp:host=localhost\;port=33335\;remapLocal=3\" -p $(var port)' name="asebaswitch" shell="true" output="screen"/> -->

  <!-- <executable cmd='$(find-pkg-share thymio_driver)/launch/switch.launch' name="asebaswitch" shell="true" output="screen"/> -->


  <!-- <group>
    <push-ros-namespace namespace="thymio1"/>
    <include file="$(find-pkg-share thymio_description)/launch/model.launch">
      <arg name="name" value="thymio1"/>
    </include>
  </group>

  <group>
    <push-ros-namespace namespace="thymio2"/>
    <include file="$(find-pkg-share thymio_description)/launch/model.launch">
      <arg name="name" value="thymio2"/>
    </include>
  </group>

  <group>
    <push-ros-namespace namespace="thymio3"/>
    <include file="$(find-pkg-share thymio_description)/launch/model.launch">
      <arg name="name" value="thymio3"/>
    </include>
  </group> -->

</launch>
