<launch>

  <let name="ip" value="localhost"/>
  <let name="in_port" value="33333"/>
  <let name="device" value="tcp:host=$(var ip);port=$(var in_port)"/>
  <let name="asebaplayground" value="$(env ASEBA_DIR)/bin/asebaplayground"/>
  <arg name="world" default="$(env ASEBA_DIR)/aseba/targets/playground/examples/thymio2.playground"/>

  <executable cmd="$(var asebaplayground) $(var world)" name="asebaplayground" output="screen" shell="true">
  </executable>

  <include file="$(find-pkg-share thymio_driver)/launch/thymio.launch">
    <arg name="device" value="$(var device)"/>
    <arg name="motor_calibration" value="$(find-pkg-share thymio_driver)/calibration/playground.yaml"/>
    <arg name="axis_length" value="0.094"/>
    <arg name="motor_period" value="10"/>
  </include>

</launch>
