<launch>

  <arg name="name" default=""/>
  <arg name="device" default=""/>
  <!-- <arg name="motor_calibration" default="$(find thymio_driver)/calibration/motor.yaml"/> -->

  <include file="$(find thymio_driver)/launch/base.launch" ns="$(eval arg('name') or '/')">
    <arg name="device" value="$(arg device)"/>
    <arg name="tf_prefix" value="$(arg name)"/>
  </include>
  <include file="$(find thymio_description)/launch/model.launch">
    <arg name="name" value="$(arg name)"/>
  </include>

</launch>
