<launch>
  <arg name="name" default=""/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <node name="spawn_epuck" exec="spawn_entity.py" pkg="gazebo_ros" output="screen"
    args="-entity $(var name) -topic robot_description -x $(var x) -y $(var y) -z 0"/>

  <include file="$(find-pkg-share epuck_description)/launch/model.launch.py">
    <arg name="name" value="$(var name)"/>
    <arg name="publish_ground_truth" value="true"/>
  </include>
</launch>
