<?xml version="1.0"?>
<launch>

  <env name="GAZEBO_MODEL_PATH" value="$(find thymio_description)/..:$(optenv GAZEBO_MODEL_PATH)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="false"/>
    <!-- <arg name="headless" value="true"/> -->
    <arg name="paused" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true"/>
    <arg name="world_name" value="worlds/empty.world"/>
  </include>

  <include file="$(find thymio_description)/launch/gazebo_bringup.launch">
    <arg name="name" value="thymio10"/>
    <arg name="pose" value="-x 0 -y 0 -z 0"/>
    <arg name="publish_gt_odom" value="true"/>
  </include>

  <include file="$(find thymio_description)/launch/joy_teleop.launch">
    <arg name="namespace" value="thymio10"/>
  </include>


  <!-- <include file="$(find thymio_description)/launch/gazebo_bringup.launch">
    <arg name="name" value="thymio20"/>
    <arg name="pose" value="-x 1 -y 2 -z 0"/>
  </include> -->

</launch>
